@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-primary
}

.container {
  @apply max-w-7xl
}


.slim-scroll::-webkit-scrollbar {
  @apply w-1
}

.slim-scroll::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded
}

.container {
  @apply xl:max-w-7xl xl:px-0 px-4 mx-auto 
}

.no-spin-arrows::-webkit-inner-spin-button,
.no-spin-arrows::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}